
/* Your CSS Code here. */
.holder {
  display: flex;
 flex-wrap: wrap;
justify-content: space-between;
height: 130px;
text-align: left;
}

.item1 {
  
  background-color: green;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: left;
	font-size: 30px;
}
.item2 {
  
  background-color: red;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: left;
	font-size: 30px;
}
.item3 {
  
  background-color: blue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: left;
	font-size: 30px;
}
