
/* Your CSS Code here. */
.holder {
  display: flex;
	
  flex-wrap: wrap;
justify-content: space-around;
	height: 100px;
  j
	text-align: left;
}

.item {
  
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: left;
	font-size: 30px;
}
